<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Stats" stopProcessing="true">
          <match url="^stats/$" />
          <action type="Redirect" redirectType="Permanent" url="stats/index.php" />
        </rule>
        <rule name="Add trailing slash" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <!-- if no file by that name exists -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- if a directory by that name does exist -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="false" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="index.php" />
        </rule>
      </rules>
    </rewrite>
      <staticContent>
        <remove fileExtension=".ipa" />
        <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
        <remove fileExtension=".apk" />
        <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        <remove fileExtension=".plist" />
        <mimeMap fileExtension=".plist" mimeType="text/xml" />
      </staticContent>
  </system.webServer>
</configuration>